<!DOCTYPE html>
<html>
  <head>
    <title>HotelReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <header>
      <div class="common-title">Potepan Share</div>
      <div class="buttons"> 
        <a href="/user/login"><button class="user-login-button">ログイン</button></a>
        <a href="/user/new"><button class="user-create-button">新規登録</button></a>
      </div>

    </header>

    <%= yield %>

  </body>
</html>
